
body {
    text-align: center;
    margin: 0;
    }

header {
    background-color: #F15B31;
    color: #ffffff;
    padding: 30px 20px;

}

nav {
    background-color: #00A6B3;
    color: #ffffff;
    padding: 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

h1 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
    }

img {
    margin: 40px 8px;
}

a {
    margin: 20px;
}
    
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    }

#game {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

#instructions {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

#about {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}
