
body {
    text-align: center;
    }

header {
    background-color: #F15B31;
    color: #ffffff;
    padding: 30px 20px;

}

h1 {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    }

#game {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

#instructions {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

#about {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}
    
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    }